<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzc.teamdemo.mapper.DeptMapper">

    <resultMap id="BaseResultMap" type="com.wzc.teamdemo.pojo.Dept">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="des" column="des" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="minister" column="minister" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,des,name,
        minister
    </sql>
</mapper>
